<div class="container">
    <h1>Add Event</h1>
    <form (ngSubmit)="addEvent()" [formGroup]="eventForm">
      <label for="name">Event Name:</label>
      <input formControlName="name" type="text" id="name" name="name" required><br><br>
  
      <label for="eventDate">Event Date:</label>
      <input formControlName="date" type="date" id="date" name="date" required><br><br>
  
      <label for="location">Event Location:</label>
      <input formControlName="location" id="eventLocation" name="location" required><br><br>
  
      <label for="description">Event Description:</label><br>
      <textarea formControlName="description" id = "eventDescription"name="description" required></textarea><br><br>
  
      <label for="time">Event Time:</label>
      <input formControlName="time" type="time" id="eventTime" name="time" required><br><br>
  
      <button type="submit">Add Event</button>
    </form>
  
    <h1>Events</h1>
    <ul>
      <li *ngFor="let event of events">
        <strong>{{ event.name }}</strong><br>
        Date: {{ event.date }}<br>
        Location: {{ event.location }}<br>
        Description: {{ event.description }}<br>
        Time: {{ event.time }}<br>
        <button (click)="subscribe(event)">Subscribe</button>
      </li>
    </ul>
  </div>
  