<div class="container">
    <h1>Add Event</h1>
    <form (ngSubmit)="addEvent()">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" name="eventName" required><br><br>
  
      <label for="eventDate">Event Date:</label>
      <input type="date" id="eventDate" name="eventDate" required><br><br>
  
      <label for="eventLocation">Event Location:</label>
      <input type="text" id="eventLocation" name="eventLocation" required><br><br>
  
      <label for="eventDescription">Event Description:</label><br>
      <textarea id="eventDescription" name="eventDescription" required></textarea><br><br>
  
      <label for="eventTime">Event Time:</label>
      <input type="time" id="eventTime" name="eventTime" required><br><br>
  
      <button type="submit">Add Event</button>
    </form>
  
    <h1>Events</h1>
    <ul>
      <li *ngFor="let event of events">
        <strong>{{ event.name }}</strong><br>
        Date: {{ event.date }}<br>
        Location: {{ event.location }}<br>
        Description: {{ event.description }}<br>
        Time: {{ event.time }}<br>
        <button (click)="subscribe(event)">Subscribe</button>
      </li>
    </ul>
  </div>
  